%a.label.geekbox-monochrome{:href=>"#", :rel=>"home", :title=>t('geekbox.footer.root')}
%a.label.html5{:href=>"#", :title=>t('geekbox.footer.html5')}
%a.label.shit-commons{:href=>"#", :rel=>"license", :title=>t('geekbox.footer.shit_commons')}
%a.label.im-angry{:href=>"#", :title=>t('geekbox.footer.im_angry')}= raw t('geekbox.footer.im_angry_text')

%small.ahtung.f-left= t('geekbox.footer.ahtung')